@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Open+Sans+Condensed:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,800&display=swap');

@font-face {
  font-family:"California";
  src: url("../public/California.ttf") format("truetype");
}
*

{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed';
}

body{
  min-height: 100vh;
  background: linear-gradient(#92E1F9,#92F9D0);
  height: 100%;
  overflow-x: hidden;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
  transition: transform 0.2s;
}

#header {
  opacity: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container {
  width: 100%;
  height: 180px;
  position: absolute;
  z-index: 10000;
}

.header-container:hover #header{
  transform: translateY(0);
}

img#logo {
  width: 50%;
}

header ul{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

header ul li{
  list-style: none;
  margin-left: 20px;
}

.header-button {
  text-decoration: none;
  padding: 6px 15px;
  color: #053b42;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
  background: #FDF7C2;
  color: #35848f;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #FDF7C2, transparent);
  z-index: 100000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

section img#background {
  width: 100%;
  height:100%;
}
#clouds{
  width: 100%;
  height:100%;
}
#beach {
  width: 100%;
  height: 100%;
  z-index: 100;
}
#sun {
  left: 60%;
  top: 5%;
}
#ocean {
  height: 100%;
  width: 100%;
  z-index: 75;
}
#island {
  width: 100%;
  height: 100%;
}
#tree {
  width: 100%;
  height: 100%;
  z-index: 80;
} 
#arrowDown {
  width: 50px;
  position: absolute;
  left: 48.5%;
  top: 55%;
}

section #text {
  position: absolute;
  top: 29%;
  color: #e85e5e;
  white-space: nowrap;
  font-family: California;
  font-size: 7.5em;
  z-index: 9;
  object-fit: cover;
}

section #btn
{
  text-decoration: none;
  display: inline-block;
  font-family: California;
  padding: 8px 30px;
  border-radius: 40px;
  background: #FDF7C2;
  color:#35848f;
  font-size: 2em;
  z-index: 1000;
  border: none;
}

#btn:hover{
  background: #e85e5e;
  box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;
  color: white;
  border-color: none;
  cursor: pointer;
}


div #boxOne {
  padding-top: 10em;
  padding-bottom: 50px;
  z-index: 99;
  background-color: #FDF7C2;
}

div #titleSec{
  font-family: California;
  font-size: 4em;
  text-align: center;
  padding-left: 2em;
  padding-bottom: 0.5em;
}

div #paragraphSec{
  font-family: Lato;
  font-size: 2em;
  text-align: center;
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
}

div #paragraphSec-org{
  font-family: Lato;
  font-size: 1.5em;
  text-align: left;
  padding-left: 3em;
  padding-right: 3em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#introduction {
  opacity: 0%;
  transition: opacity 0.5s;
}

#steps {
  opacity: 0%;
  transition: opacity 0.5s;
}

#surfriders {
  transform: translateX(100%);
  transition: transform 0.75s;
}

#plasticoceans {
  transform: translateX(-100%);
  transition: transform 0.75s;
}

#oceana {
  transform: translateX(100%);
  transition: transform 0.75s;
}

.leaderboard-body {
  background: linear-gradient(#92E1F9,#92F9D0);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.organizations-div {
  display: flex;
  align-content: center;
  padding-bottom: 2em;
}

.organizations-div > p > em {
  font-family: 'Playfair Display', serif;
}

.org-name {
  font-family: 'Montserrat', sans-serif;
}

.organizations-div > p > a {
  color: black;
}